replicaCount: 1
namespace: dev

image:
  repository: user-auth-service
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 8083

ingress:
  enabled: false

env:
  SPRING_PROFILES_ACTIVE: prod
  DB_HOST: postgres
  DB_PORT: 5432
  DB_USERNAME: postgres
  AUTH_SERVICE_JWT_ISSUER_URI: http://gateway.dev.svc.cluster.local:8080/serv-auth-service
  AUTH_SERVICE_JWT_JWK_SET_URI: http://gateway.dev.svc.cluster.local:8080/serv-auth-service/oauth2/jwks
  AUTH_SERVICE_TOKEN_URL: http://gateway.dev.svc.cluster.local:8080/serv-auth-service/oauth2/token
  USER_AUTH_CLIENT_SECRET: showcase-secret
  GATEWAY_URL: http://gateway.dev.svc.cluster.local:8080

secret:
  DB_PASSWORD: postgres
  USER_AUTH_CLIENT_SECRET: showcase-secret
  JWT_SECRET: your-256-bit-secret-key-base64-encoded-here-must-be-32-chars

resources: {}