apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "user-auth-service.fullname" . }}
  labels:
    {{- include "user-auth-service.labels" . | nindent 4 }}
data:
  application.yml: |-
    server:
      port: {{ .Values.service.port }}
    spring:
      application:
        name: user-auth-service
      profiles:
        active: {{ .Values.env.SPRING_PROFILES_ACTIVE }}
      r2dbc:
        url: r2dbc:postgresql://{{ .Values.env.DB_HOST }}:{{ .Values.env.DB_PORT }}/user_auth_service
        username: {{ .Values.env.DB_USERNAME }}
        password: ${DB_PASSWORD}
        pool:
          enabled: true
          initial-size: 10
          max-size: 50
          max-idle-time: 30m
          max-life-time: 60m
          validation-query: SELECT 1
      main:
        web-application-type: reactive
      security:
        oauth2:
          resourceserver:
            jwt:
              issuer-uri: {{ .Values.env.GATEWAY_URL }}-{{ .Release.Namespace }}{{ .Values.env.AUTH_SERVICE_JWT_ISSUER_URI }}
              jwk-set-uri: {{ .Values.env.GATEWAY_URL }}-{{ .Release.Namespace }}{{ .Values.env.AUTH_SERVICE_JWT_JWK_SET_URI }}
          client:
            registration:
              account-service:
                provider: account-service
                client-id: user-auth-service
                client-secret: ${USER_AUTH_CLIENT_SECRET}
                client-authentication-method: client_secret_basic
                authorization-grant-type: client_credentials
                scope: account-service.read,account-service.write
            provider:
              account-service:
                token-uri: {{ .Values.env.GATEWAY_URL }}-{{ .Release.Namespace }}{{ .Values.env.AUTH_SERVICE_TOKEN_URL }}
    jwt:
      secret: ${JWT_SECRET}
      expiration: 3600000
    management:
      endpoints:
        web:
          exposure:
            include: health, info, metrics
      endpoint:
        health:
          show-details: always
    logging:
      level:
        org.springframework: INFO
        ru.practicum: DEBUG
        org.springframework.security: DEBUG
      pattern:
        console: "%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"