<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{../fragments/layout/head :: head(${title}, ${description}, ${styles})}"></head>

<body class="page">
    <div th:replace="~{../fragments/layout/header :: header}"></div>

    <main class="container">
        <!-- Динамическое содержимое страницы -->
        <div th:replace="~{${page} :: content}"></div>
    </main>

    <div th:replace="~{../fragments/layout/footer :: footer}"></div>
    <script th:src="@{'/scripts/' + ${script} + '.js'}"></script>
    <script th:src="@{'/scripts/form-fields.js'}"></script>

<!--    &lt;!&ndash; Скрипты &ndash;&gt;-->
<!--    <th:block th:if="${script != null}">-->
<!--        <script th:src="@{'/scripts/form-fields.js'}"></script>-->
<!--    </th:block>-->
</body>
</html>
