replicaCount: 1

image:
  repository: serv-auth-service
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 9000

ingress:
  enabled: false

env:
  SPRING_PROFILES_ACTIVE: prod
  DB_HOST: postgres
  DB_PORT: 5432
  DB_USERNAME: postgres
  AUTH_SERVICE_JWT_ISSUER_URI:  /serv-auth-service
  AUTH_SERVICE_JWT_JWK_SET_URI:  /serv-auth-service/oauth2/jwks
  GATEWAY_URL: http://api-gateway-server

secret:
  DB_PASSWORD: postgres
  CLIENT_SECRET: $2a$10$OuxpJ2wwsMQABCtQX794deWIPqSaqUgevnNiAghcLrTVN44U2xG2a

resources: {}

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

fullnameOverride: serv-auth-service