apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
  namespace: {{ .Values.namespace }}
type: Opaque
data:
  DB_PASSWORD: {{ .Values.secret.DB_PASSWORD | b64enc | quote }}
  USER_AUTH_CLIENT_SECRET: {{ .Values.secret.USER_AUTH_CLIENT_SECRET | b64enc | quote }}
  JWT_SECRET: {{ .Values.secret.JWT_SECRET | b64enc | quote }}