apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "account-service.fullname" . }}
  labels:
    {{- include "account-service.labels" . | nindent 4 }}
data:
  application.yml: |-
    server:
      port: {{ .Values.service.port }}
    app:
      currencies:
        supported: {{ .Values.env.APP_CURRENCIES_SUPPORTED | splitList "," | toYaml | nindent 8 }}
    spring:
      application:
        name: account-service
      profiles:
        active: {{ .Values.env.SPRING_PROFILES_ACTIVE }}
      r2dbc:
        url: r2dbc:postgresql://{{ .Values.env.DB_HOST }}:{{ .Values.env.DB_PORT }}/account_service
        username: {{ .Values.env.DB_USERNAME }}
        password: ${DB_PASSWORD}
        pool:
          enabled: true
          initial-size: 10
          max-size: 50
          max-idle-time: 30m
          max-life-time: 60m
          validation-query: SELECT 1
      main:
        web-application-type: reactive
      security:
        oauth2:
          resourceserver:
            jwt:
              issuer-uri: {{ .Values.env.GATEWAY_URL }}-{{ .Release.Namespace }}{{ .Values.env.AUTH_SERVICE_JWT_ISSUER_URI }}
              jwk-set-uri: {{ .Values.env.GATEWAY_URL }}-{{ .Release.Namespace }}{{ .Values.env.AUTH_SERVICE_JWT_JWK_SET_URI }}
    management:
      endpoints:
        web:
          exposure:
            include: health, info, metrics
      endpoint:
        health:
          show-details: always
    logging:
      level:
        org.springframework: DEBUG
        ru.practicum: info
        org.springframework.web: DEBUG
        org.springframework.cloud: WARN
        reactor.netty: ERROR
        org.springframework.security: DEBUG
      pattern:
        console: "%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"