# Переменные среды
exchange:
  rate:
    generation:
      interval:
        ms: 1000

spring:
  application:
    name: exchange-generator-service

  cloud:
    consul:
      host: localhost
      port: 8500
      config:
        enabled: false
      discovery:
        instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
        service-name: ${spring.application.name}
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 15s
        register: true
        enabled: true

  r2dbc:
    url: ${SPRING_DATASOURCE_URL:r2dbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/exchange_generator_service}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    pool:
      enabled: true
      initial-size: 10
      max-size: 50
      max-idle-time: 30m
      max-life-time: 60m
      validation-query: SELECT 1

  scheduling:
    enabled: true
    task:
      scheduling:
        enabled: true

  main:
    web-application-type: reactive

server:
  port: 8084

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework: INFO
    ru.practicum: DEBUG
    org.springframework.cloud.consul: INFO
  pattern:
    console: "%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
