replicaCount: 1
namespace: dev

image:
  repository: api-gateway-server
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true

secret: {}

resources: {}