apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Values.namespace }}
data:
  application.yml: |-
    server:
      port: {{ .Values.service.port }}
    spring:
      application:
        name: api-gateway-server
      cloud:
        gateway:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: account
              uri: http://account:8082
              predicates:
                - Path=/account-service/**
              filters:
                - StripPrefix=1
            - id: blocker
              uri: http://blocker:8084
              predicates:
                - Path=/blocker-service/**
              filters:
                - StripPrefix=1
            - id: cash
              uri: http://cash:8085
              predicates:
                - Path=/cash-service/**
              filters:
                - StripPrefix=1
            - id: exchange-gen
              uri: http://exchange-gen:8087
              predicates:
                - Path=/exchange-generator-service/**
              filters:
                - StripPrefix=1
            - id: exchange
              uri: http://exchange:8086
              predicates:
                - Path=/exchange-service/**
              filters:
                - StripPrefix=1
            - id: notification
              uri: http://notification:8089
              predicates:
                - Path=/notification-service/**
              filters:
                - StripPrefix=1
            - id: auth
              uri: http://auth:9000
              predicates:
                - Path=/serv-auth-service/**
              filters:
                - StripPrefix=1
            - id: transfer
              uri: http://transfer:8088
              predicates:
                - Path=/transfer-service/**
              filters:
                - StripPrefix=1
            - id: user-auth
              uri: http://user-auth:8083
              predicates:
                - Path=/user-auth-service/**
              filters:
                - StripPrefix=1
            - id: gateway-health
              uri: http://localhost:{{ .Values.service.port }}
              predicates:
                - Path=/actuator/health
          httpclient:
            connect-timeout: 5000
            response-timeout: 10s
    management:
      endpoints:
        web:
          exposure:
            include: health, info, metrics, gateway
      endpoint:
        health:
          show-details: always
        gateway:
          enabled: true
    logging:
      level:
        org.springframework.cloud.gateway: DEBUG
