replicaCount: 1
namespace: dev

image:
  repository: serv-auth-service
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 9000

ingress:
  enabled: false

env:
  SPRING_PROFILES_ACTIVE: prod
  DB_HOST: postgres
  DB_PORT: 5432
  DB_USERNAME: postgres
  AUTH_SERVICE_JWT_ISSUER_URI: http://gateway.dev.svc.cluster.local:8080/serv-auth-service
  AUTH_SERVICE_JWT_JWK_SET_URI: http://gateway.dev.svc.cluster.local:8080/serv-auth-service/oauth2/jwks
  GATEWAY_URL: http://gateway.dev.svc.cluster.local:8080

secret:
  DB_PASSWORD: postgres
  CLIENT_SECRET: $2a$10$OuxpJ2wwsMQABCtQX794deWIPqSaqUgevnNiAghcLrTVN44U2xG2a

resources: {}