replicaCount: 1
namespace: dev

image:
  repository: front-ui-service
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 8081

ingress:
  enabled: true

env:
  SPRING_PROFILES_ACTIVE: prod
  AUTH_SERVICE_TOKEN_URL: http://gateway.dev.svc.cluster.local:8080/serv-auth-service/oauth2/token
  AUTH_SERVICE_JWT_ISSUER_URI: http://gateway.dev.svc.cluster.local:8080/serv-auth-service
  AUTH_SERVICE_JWT_JWK_SET_URI: http://gateway.dev.svc.cluster.local:8080/serv-auth-service/oauth2/jwks
  APP_CURRENCIES_SUPPORTED: "RUB,USD,EUR,CNY,GBP,JPY"
  FRONT_CLIENT_SECRET: showcase-secret
  JWT_SECRET: your-256-bit-secret-key-base64-encoded-here-must-be-32-chars
  GATEWAY_URL: http://gateway.dev.svc.cluster.local:8080

secret:
  FRONT_CLIENT_SECRET: showcase-secret
  JWT_SECRET: your-256-bit-secret-key-base64-encoded-here-must-be-32-chars

resources: {}