apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-gateway-config
  namespace: {{ .Values.namespace }}
data:
  application.yml: |-
    server:
      port: {{ .Values.service.port }}
    spring:
      application:
        name: api-gateway-server
      cloud:
        gateway:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: {{ .Release.Name }}-account
              uri: http://{{ .Release.Name }}-account:8082
              predicates:
                - Path=/account-service/**
              filters:
                - StripPrefix=1
            - id: {{ .Release.Name }}-blocker
              uri: http://{{ .Release.Name }}-blocker:8084
              predicates:
                - Path=/blocker-service/**
              filters:
                - StripPrefix=1
            - id: {{ .Release.Name }}-cash
              uri: http://{{ .Release.Name }}-cash:8085
              predicates:
                - Path=/cash-service/**
              filters:
                - StripPrefix=1
            - id: {{ .Release.Name }}-exchange-gen
              uri: http://{{ .Release.Name }}-exchange-gen:8087
              predicates:
                - Path=/exchange-generator-service/**
              filters:
                - StripPrefix=1
            - id: {{ .Release.Name }}-exchange
              uri: http://{{ .Release.Name }}-exchange:8086
              predicates:
                - Path=/exchange-service/**
              filters:
                - StripPrefix=1
            - id: {{ .Release.Name }}-notification
              uri: http://{{ .Release.Name }}-notification:8089
              predicates:
                - Path=/notification-service/**
              filters:
                - StripPrefix=1
            - id: {{ .Release.Name }}-auth
              uri: http://{{ .Release.Name }}-auth:9000
              predicates:
                - Path=/serv-auth-service/**
              filters:
                - StripPrefix=1
            - id: {{ .Release.Name }}-transfer
              uri: http://{{ .Release.Name }}-transfer:8088
              predicates:
                - Path=/transfer-service/**
              filters:
                - StripPrefix=1
            - id: {{ .Release.Name }}-user-auth
              uri: http://{{ .Release.Name }}-user-auth:8083
              predicates:
                - Path=/user-auth-service/**
              filters:
                - StripPrefix=1
            - id: gateway-health
              uri: http://localhost:{{ .Values.service.port }}
              predicates:
                - Path=/actuator/health
          httpclient:
            connect-timeout: 5000
            response-timeout: 10s
    management:
      endpoints:
        web:
          exposure:
            include: health, info, metrics, gateway
      endpoint:
        health:
          show-details: always
        gateway:
          enabled: true
    logging:
      level:
        org.springframework.cloud.gateway: DEBUG
