apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-exchange-gen
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
  selector:
    app: {{ .Release.Name }}-exchange-gen