<th:block th:fragment="styles">
    <link rel="stylesheet" th:href="@{/styles/auth/login.css}" />
</th:block>

<section th:fragment="content" class="card">
    <h1 class="card__title">Вход в аккаунт</h1>
    <p class="card__hint">Введите логин и пароль, чтобы продолжить</p>

<!--    <div class="errors" th:if="${param.error}">-->
<!--        Неверные учетные данные или аккаунт заблокирован.-->
<!--    </div>-->
<!--    <div class="status status&#45;&#45;ok" th:if="${param.logout}">-->
<!--        Вы вышли из системы.-->
<!--    </div>-->

    <form class="form" th:action="@{/login}" method="post">
        <div class="form__row">
            <label class="label" for="username">Логин</label>
            <input class="input" id="username" type="text" name="username" required/>
        </div>
        <div class="form__row">
            <label class="label" for="password">Пароль</label>
            <input class="input" id="password" type="password" name="password" required/>
        </div>
        <button class="btn" type="submit">Войти</button>
    </form>

    <p class="help">Нет аккаунта? <a href="/signup">Зарегистрируйтесь</a></p>
</section>
