<section th:fragment="content" class="card">
    <h1 class="card__title">Создать аккаунт</h1>

<!--    <div th:if="${userExists}" class="alert alert-warning">-->
<!--        Пользователь с таким email или username уже существует-->
<!--    </div>-->

    <form class="form" th:action="@{/signup}" th:object="${signupRequest}" method="post" novalidate>
        <!-- Имя / Фамилия -->
        <div class="grid grid--2">
            <div class="form__row">
                <label class="label" for="firstName">Имя</label>
                <input class="input" id="firstName" th:field="*{firstName}" required/>
                <div class="client-error" style="display: none;"></div>
            </div>
            <div class="form__row">
                <label class="label" for="lastName">Фамилия</label>
                <input class="input" id="lastName" th:field="*{lastName}" required/>
                <div class="client-error" style="display: none;"></div>
            </div>
        </div>

        <!-- Почта / Дата рождения -->
        <div class="grid grid--2">
            <div class="form__row">
                <label class="label" for="email">Электронная почта</label>
                <input class="input" id="email" th:field="*{email}" type="email" placeholder="you@example.com"
                       data-validate="email" required/>
                <div class="client-error" style="display: none;"></div>
            </div>
            <div class="form__row">
                <label class="label" for="birthDate">Дата рождения</label>
                <input class="input" id="birthDate" th:field="*{birthDate}" type="date" pattern="\d{4}-\d{2}-\d{2}"
                       data-validate="birthdate" required max="2023-12-31" min="1900-01-01"/>
                <div class="client-error" style="display: none;"></div>
            </div>
        </div>

        <!-- Имя пользователя / Пароль -->
        <div class="grid grid--2">
            <div class="form__row">
                <label class="label" for="username">Имя пользователя</label>
                <input class="input" id="username" th:field="*{username}" data-validate="username" required autocomplete="username"/>
                <div class="client-error" style="display: none;"></div>
            </div>
            <div class="form__row">
                <label class="label" for="password">Пароль</label>
                <input class="input" id="password" th:field="*{password}" type="password" required
                       data-validate="password" autocomplete="new-password"/>
<!--                oninput="checkPasswordStrength(this.value)"-->
                <div class="client-error" style="display: none;"></div>

                <!-- Индикатор сложности -->
                <div class="password-strength-container">
                    <div class="password-strength">
                        <div class="password-strength__bar"></div>
                    </div>
                    <div class="password-strength__text"></div>
                </div>
            </div>
        </div>

        <!-- Повтор пароля -->
        <div class="form__row">
            <label class="label" for="confirmPassword">Повторите пароль</label>
            <input class="input" id="confirmPassword" type="password" required
                   data-validate="confirm-password" autocomplete="new-password"/>
            <div class="client-error" id="passwordMatchError" style="display: none;">
                Пароли не совпадают
            </div>
        </div>

        <!-- Чекбокс согласия -->
        <div class="form__row">
            <input type="checkbox" id="termsAccepted" th:field="*{termsAccepted}" data-validate="terms" name="termsAccepted" required>
            <label for="termsAccepted">Я согласен с <a href="#">Условиями использования</a> и&nbsp;<a href="#">Политикой конфиденциальности</a></label>
            <div class="client-error" id="termsError" style="display: none;">
                Необходимо принять условия
            </div>
        </div>

        <!-- Кнопки -->
        <div class="row between center" style="margin-top:6px">
            <a class="btn btn--ghost" href="/login">У меня уже есть аккаунт</a>
            <button class="btn btn--primary" type="submit">Зарегистрироваться</button>
        </div>
    </form>
</section>
