apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
  namespace: {{ .Values.namespace }}
data:
  application.yml: |-
    server:
      port: {{ .Values.service.port }}
    exchange:
      spread: {{ .Values.env.EXCHANGE_SPREAD }}
      scale: {{ .Values.env.EXCHANGE_SCALE }}
    app:
      currencies:
        supported: {{ .Values.env.APP_CURRENCIES_SUPPORTED | splitList "," | toYaml | nindent 8 }}
    spring:
      application:
        name: exchange-service
      profiles:
        active: {{ .Values.env.SPRING_PROFILES_ACTIVE }}
      cloud:
        consul:
          config:
            enabled: false
          discovery:
            instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
            service-name: ${spring.application.name}
            prefer-ip-address: true
            health-check-path: /actuator/health
            health-check-interval: 15s
            register: true
            enabled: true
      r2dbc:
        url: r2dbc:postgresql://{{ .Values.env.DB_HOST }}:{{ .Values.env.DB_PORT }}/exchange_service
        username: {{ .Values.env.DB_USERNAME }}
        password: "{{ "{{" }} DB_PASSWORD {{ "}}" }}"
        pool:
          enabled: true
          initial-size: 10
          max-size: 50
          max-idle-time: 30m
          max-life-time: 60m
          validation-query: SELECT 1
      scheduling:
        enabled: true
      main:
        web-application-type: reactive
      security:
        oauth2:
          resourceserver:
            jwt:
              issuer-uri: {{ .Values.env.AUTH_SERVICE_JWT_ISSUER_URI }}
              jwk-set-uri: {{ .Values.env.AUTH_SERVICE_JWT_JWK_SET_URI }}
    management:
      endpoints:
        web:
          exposure:
            include: health, info, metrics
      endpoint:
        health:
          show-details: always
    logging:
      level:
        org.springframework: INFO
        ru.practicum: DEBUG
      pattern:
        console: "%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"