apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
  namespace: {{ .Values.namespace }}
type: Opaque
data:
  MAIL_USERNAME: {{ .Values.secret.MAIL_USERNAME | b64enc | quote }}
  MAIL_PASSWORD: {{ .Values.secret.MAIL_PASSWORD | b64enc | quote }}