spring:
  application:
    name: front-ui-service

  cloud:
    consul:
      host: consul-server
      port: 8500
      discovery:
        instance-id: ${spring.application.name}:${random.uuid}
        service-name: ${spring.application.name}
        prefer-ip-address: true
        health-check-path: /actuator/health
        health-check-interval: 15s
        register: true

  thymeleaf:
    prefix: classpath:/web/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false
    servlet:
      content-type: text/html
    enable-spring-el-compiler: true
    render-hidden-markers-before-checkboxes: true

  webflux:
    static-path-pattern: /**

  web:
    resources:
      static-locations: classpath:/web/

  main:
    web-application-type: reactive

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
  endpoint:
    health:
      show-details: always

server:
  port: 8081

logging:
  level:
    org.springframework: INFO
    ru.practicum: INFO
    org.thymeleaf: DEBUG
    org.springframework.cloud.consul: INFO
  pattern:
    console: "%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"