server:
  port: 8081

app:
  currencies:
    supported:
      - RUB
      - USD
      - EUR
      - CNY
      - GBP
      - JPY

spring:
  application:
    name: front-ui-service

  thymeleaf:
    prefix: classpath:/web/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false
    servlet:
      content-type: text/html
    enable-spring-el-compiler: true
    render-hidden-markers-before-checkboxes: true

  webflux:
    static-path-pattern: /**

  web:
    resources:
      static-locations: classpath:/web/
      cache:
        period: 0
        cachecontrol:
          max-age: 1h
          no-cache: false

  main:
    web-application-type: reactive

    # ================ OAuth2 Client Configuration ================
  security:
    oauth2:
      client:
        registration:
          account-service:
            provider: account-service
            client-id: front-ui-service
            client-secret: showcase-secret
            client-authentication-method: client_secret_basic
            authorization-grant-type: client_credentials
            scope: account-service.read,account-service.write
          user-auth-service:
            provider: user-auth-service
            client-id: front-ui-service
            client-secret: showcase-secret
            client-authentication-method: client_secret_basic
            authorization-grant-type: client_credentials
            scope: user-auth-service.read,user-auth-service.write
          cash-service:
            provider: cash-service
            client-id: front-ui-service
            client-secret: showcase-secret
            client-authentication-method: client_secret_basic
            authorization-grant-type: client_credentials
            scope: cash-service.read,cash-service.write
          exchange-service:
            provider: exchange-service
            client-id: front-ui-service
            client-secret: showcase-secret
            client-authentication-method: client_secret_basic
            authorization-grant-type: client_credentials
            scope: exchange-service.read,exchange-service.write
          transfer-service:
            provider: transfer-service
            client-id: front-ui-service
            client-secret: showcase-secret
            client-authentication-method: client_secret_basic
            authorization-grant-type: client_credentials
            scope: transfer-service.read,transfer-service.write
        provider:
          account-service:
            token-uri: ${AUTH_SERVICE_TOKEN_URL:http://localhost:8080/serv-auth-service/oauth2/token}
          user-auth-service:
            token-uri: ${AUTH_SERVICE_TOKEN_URL:http://localhost:8080/serv-auth-service/oauth2/token}
          cash-service:
            token-uri: ${AUTH_SERVICE_TOKEN_URL:http://localhost:8080/serv-auth-service/oauth2/token}
          exchange-service:
            token-uri: ${AUTH_SERVICE_TOKEN_URL:http://localhost:8080/serv-auth-service/oauth2/token}
          transfer-service:
            token-uri: ${AUTH_SERVICE_TOKEN_URL:http://localhost:8080/serv-auth-service/oauth2/token}

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics
  endpoint:
    health:
      show-details: always


logging:
  level:
    #    org.springframework: ERROR
    ru.practicum: info
  #    org.springframework.web: WARN
  #    org.springframework.cloud: WARN
  #    org.springframework.cloud.gateway: DEBUG
  #    reactor.netty: ERROR
  #    org.springframework.security: DEBUG
  #    org.springframework.cloud.consul: DEBUG
  pattern:
    console: "%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

jwt:
  secret: your-256-bit-secret-key-base64-encoded-here-must-be-32-chars



