replicaCount: 1
namespace: dev

image:
  repository: exchange-generator-service
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 8087

ingress:
  enabled: false

env:
  SPRING_PROFILES_ACTIVE: prod
  DB_HOST: postgres
  DB_PORT: 5432
  DB_USERNAME: postgres
  AUTH_SERVICE_JWT_ISSUER_URI: http://gateway.dev.svc.cluster.local:8080/serv-auth-service
  AUTH_SERVICE_JWT_JWK_SET_URI: http://gateway.dev.svc.cluster.local:8080/servборе-auth-service/oauth2/jwks
  AUTH_SERVICE_TOKEN_URL: http://gateway.dev.svc.cluster.local:8080/serv-auth-service/oauth2/token
  EXCHANGE_RATE_GENERATION_INTERVAL_MS: "1000"
  APP_CURRENCIES_SUPPORTED: "RUB,USD,EUR,CNY,GBP,JPY"
  EXCHANGE_GENERATOR_CLIENT_SECRET: showcase-secret
  GATEWAY_URL: http://gateway.dev.svc.cluster.local:8080

secret:
  DB_PASSWORD: postgres
  EXCHANGE_GENERATOR_CLIENT_SECRET: showcase-secret

resources: {}